<div class="main_container">
  <div class="container my-5">
    <div class="card scrollable-card mb-4">
      <div class="card-body">
        <div class="scroll-content">
          <div class="row">
            <div class="col-md-6">
              <div class="container">
                <div class="row justify-content-center">
                  <div class="col-md-4">
                    <div class="card custom-card-upper text-center">
                      <div class="card-body">
                        <h5 class="card-title">
                          Comprahensive financial strategy
                        </h5>
                        <p class="card-text-small">Market Strategy</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="container my-2 mx-0">
                <div class="row justify-content-center">
                  <div class="col-md-4">
                    <div class="card custom-card text-center">
                      <div class="card-body">
                        <div class="icon-container mb-3">
                          <img
                            [src]="imagePath"
                            alt="Icon"
                            class="img-fluid"
                          />
                        </div>
                        <h5 class="card-title">
                          Personalized Wealth Management
                        </h5>
                        <p class="card-text">
                          Grow your wealth through personalized financial
                          strategies.
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="container">
                <div class="row justify-content-center">
                  <div class="col-md-4">
                    <div class="card custom-card-down text-center">
                      <div class="card-body">
                        <div class="icon-container mb-3">
                          <img
                            [src]="imagePath"
                            alt="Icon"
                            class="img-fluid"
                          />
                        </div>
                        <h5 class="card-title">Expert Advice</h5>
                        <p class="card-text-small">Market Strategy</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="custom-right">
                <div class="text-section">
                  <h5 class="card-title-right">
                    Equip yourself <br />
                    with <br />
                    unmatched <br />
                    benefits
                  </h5>
                  <p class="card-title-right-text">
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                    Dicta iusto, illo cumque impedit consectetur tenetur
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container mt-5">
      <div class="goal-selection text-left text-md-left">
        <span
          >Select The Goal You <br />
          Want To Plan For
        </span>
        <span class="goal-highlight dropdown">
          <a
            class="dropdown-toggle"
            href="#"
            role="button"
            id="dropdownMenuLink"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            Dream Car
          </a>

          <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <a class="dropdown-item" href="#">Dream Car</a>
            <a class="dropdown-item" href="#">New House</a>
            <a class="dropdown-item" href="#">Vacation</a>
          </div>
        </span>
      </div>
    </div>
    <div class="goal_section">
      <div class="goal-selection-left">
        <div class="form-group mx-3 mt-3">
          <div class="amount-section">
            <label for="goalAmount" class="goal_details">My Goal Amount:</label>
            <div class="amount">₹ {{ goalAmount }},000</div>
          </div>
          <input
            type="range"
            id="goalAmount"
            class="custom-slider"
            (input)="onSliderChange($event)"
          />
        </div>
        <div class="form-group mx-3 mt-3">
          <div class="amount-section">
            <label for="goalPeriod" class="goal_details">For Period of:</label>
            <div class="amount">{{ goalPeriod }} years</div>
          </div>
          <input
            type="range"
            id="goalPeriod"
            class="custom-slider"
            (input)="onSliderChange($event)"
          />
        </div>
        <div class="form-group mx-3 mt-3">
          <div class="amount-section">
            <label for="growthRate" class="goal_details">My Growth Rate:</label>
            <div class="amount">{{ growthRate }} %</div>
          </div>
          <input
            type="range"
            id="growthRate"
            class="custom-slider"
            (input)="onSliderChange($event)"
          />
        </div>
        <div class="form-group mx-3 mt-3">
          <div class="amount-section">
            <button class="invest-now">Invest Now</button>
          </div>
        </div>
      </div>

      <div class="goal-selection_right">
        <div class="chart-container">
          <canvas baseChart [data]="pieChartData" [type]="pieChartType">
          </canvas>
        </div>
      </div>
    </div>

    <div class="supercharge-section">
      <div class="container">
        <div class="footer">
          <h2 [@slideInAnimation]="slideInAnimation" class="footer_heading">
            Supercharge your journey to <br />
            wealth creation.
          </h2>
          <p class="footer_desc">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium
            mollitia explicabo.
          </p>
          <button class="invest-now">Sign Up</button>
        </div>
      </div>
    </div>
  </div>
</div>
